.cardBackground {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 5px;
    width: 65px;
    height: 90px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 0px 5px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}